.sendbtn {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.sendbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.sendbtn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sendbtn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.sendbtn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.sendbtn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.sendbtn:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.sendbtn:hover svg {
  transform: rotate(45deg);
}

.input {
  width: 90%;
  padding: 12px;
  border: 2px solid #3498db;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
  transform: scale(1.02);
}

/* Placeholder Styling */
.input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Hover Effect */
.input:hover {
  background-color: #f0f8ff;
}
